/** @format */
header {
  background-color: white !important;
}
header.bg-dark {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white;
}
header.bg-dark ul li {
  margin: 0;
}
header.bg-dark ul li.dropdown ul {
  background-color: black;
}

.services {
  background-color: white !important;
}
.services.bg-dark {
  background-color: #202124 !important;
}
.services.bg-dark .container div {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
}
.services.bg-dark .container div p {
  color: white;
}

.about-us {
  background-color: white !important;
}
.about-us.bg-dark {
  background-color: #202124 !important;
}
.about-us.bg-dark .text p,
.about-us.bg-dark .text h4 {
  color: white;
}

.protofolio {
  background-color: white !important;
}
.protofolio.bg-dark {
  background-color: #202124 !important;
}

.pricing {
  background-color: white !important;
}
.pricing.bg-dark {
  background-color: #202124 !important;
}
.pricing.bg-dark .row .card {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
  background-color: #202124;
}
.pricing.bg-dark .row .card h2,
.pricing.bg-dark .row .card h4,
.pricing.bg-dark .row .card li {
  color: white;
}

.testimonials {
  background-color: white !important;
}
.testimonials.bg-dark {
  background-color: #202124 !important;
}
.testimonials.bg-dark .container .swiper .swiper-slide .testimonial-item {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
}
.testimonials.bg-dark .container .swiper .swiper-slide .testimonial-item p {
  color: white;
}

.clients {
  background-color: white !important;
}
.clients.bg-dark {
  background-color: black !important;
}
.clients.bg-dark .container .swiper .swiper-slide img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.team.bg-dark {
  background-color: #202124 !important;
}
.team.bg-dark .container .box p {
  color: white;
}
.team.bg-dark .container .box .social a {
  color: white;
}
.team.bg-dark .container .box .social a:hover {
  border-color: #025add;
  background-color: #025add;
}

.faqs {
  background-color: white !important;
}
.faqs.bg-dark {
  background-color: #202124 !important;
}
.faqs.bg-dark .container .accordion-item {
  border: 1px solid #025add;
  background-color: #181818;
}
.faqs.bg-dark .container .accordion-item .accordion-header button {
  background-color: #181818;
  color: #025add;
}
.faqs.bg-dark .container .accordion-item .accordion-header button::after {
  color: #025add !important;
}
.faqs.bg-dark .container .accordion-item .accordion-body {
  color: white;
}

.blogs {
  background-color: white !important;
}
.blogs.bg-dark {
  background-color: #202124 !important;
}
.blogs.bg-dark .container .card {
  border: none;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
  background-color: #202124;
}
.blogs.bg-dark .container .card .card-body p {
  color: white;
}
.blogs.bg-dark .container .card .card-body .card-text {
  color: #025add;
}
.blogs.bg-dark .container .card .card-body .card-text:hover {
  color: white;
}

.contact-us {
  background-color: white !important;
}
.contact-us.bg-dark {
  background-color: #202124 !important;
}
.contact-us.bg-dark .container h5 {
  color: white;
}
.contact-us.bg-dark .container p {
  color: rgba(255, 255, 255, 0.7) !important;
}
.contact-us.bg-dark .container form [class=input-group-text] {
  border: 1px solid black;
  background-color: #181818;
}
.contact-us.bg-dark .container form span {
  color: white;
}
.contact-us.bg-dark .container form input,
.contact-us.bg-dark .container form textarea {
  border: 1px solid black;
  background-color: #181818;
}
.contact-us.bg-dark .container form label {
  color: white;
}/*# sourceMappingURL=darkMode.css.map */