/** @format */
@use "scss/variables/colors" as *;

header {
  background-color: white !important;

  &.bg-dark {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: white;
    .navbar-collapse {
      background-color: black;

      ul {
        li {
          a {
            @media (max-width: 991px) {
              color: white !important;
            }
          }

          &.dropdown {
            ul {
              background-color: black;
            }
          }
        }
      }
    }
  }
}

.breadcrumbs {
  &.bg-dark {
    color: white;
    background-color: #0d2b53 !important;

    .text-center {
      h2 {
        color: $color-primary;
      }
    }

    &::before {
      content: "";
      opacity: 0.6;
      background-color: #000000;
    }
  }

  .active {
    color: black !important;
  }
}
.services {
  background-color: white !important;

  &.bg-dark {
    background-color: #202124 !important;

    .container {
      div {
        background-color: #181818 !important;
        border: 1px solid black;

        p {
          color: white;
        }
      }
    }
  }
}

.about-us {
  background-color: white !important;

  &.bg-dark {
    background-color: #202124 !important;

    .center {
      img {
        border: 3px solid black;
      }
    }
    .text {
      p,
      h4 {
        color: white;
      }
    }
  }
}

.protofolio {
  background-color: white !important;

  &.bg-dark {
    background-color: #202124 !important;

    .photos .container div {
      border: 2px solid black;
    }
  }
}

.pricing {
  background-color: white !important;

  &.bg-dark {
    background-color: #202124 !important;

    .row {
      .card {
        background-color: #181818 !important;
        border: 1px solid black;

        h2,
        h4,
        li {
          color: white;
        }
      }
    }
  }
}

.testimonials {
  background-color: white !important;

  &.bg-dark {
    background-color: #202124 !important;
    .container {
      .swiper {
        .swiper-slide {
          .testimonial-item {
            background-color: #181818 !important;
            border: 1px solid black;

            p {
              color: white;
            }
          }
        }
      }
    }
  }
}

.clients {
  background-color: white !important;

  &.bg-dark {
    background-color: black !important;
    .container {
      .swiper {
        .swiper-slide {
          img {
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
          }
        }
      }
    }
  }
}

.team {
  &.bg-dark {
    background-color: #202124 !important;
    .container {
      .box {
        p {
          color: white;
        }
        .social {
          a {
            color: white;

            &:hover {
              border-color: $color-primary;
              background-color: $color-primary;
            }
          }
        }
      }
    }
  }
}

.faqs {
  background-color: white !important;

  &.bg-dark {
    background-color: #202124 !important;

    .container {
      .accordion-item {
        border: 1px solid $color-primary;
        background-color: #181818;

        .accordion-header {
          button {
            background-color: #181818;
            color: $color-primary;

            &::after {
              color: $color-primary !important;
            }
          }
        }

        .accordion-body {
          color: white;
        }
      }
    }
  }
}

.privacy {
  background-color: white !important;

  &.bg-dark {
    background-color: #202124 !important;
    p,
    li,
    h3 {
      color: white;
    }
  }
}

.blogs {
  background-color: white !important;

  &.bg-dark {
    background-color: #202124 !important;

    .container {
      .card {
        border-color: black;
        background-color: #181818 !important;

        .card-body {
          p {
            color: white;
          }

          .card-text {
            color: $color-primary;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}

.blog-details {
  background-color: white !important;

  &.bg-dark {
    background-color: #181818 !important;

    .title,
    .details-post-data,
    p,
    h3,
    li {
      color: white !important;
    }

    img {
      border: 2px solid black;
    }

    .blog-sidbar {
      .search-form {
        input {
          background-color: #181818;
        }

        button {
          background-color: $color-primary;
          color: #181818;
        }
      }

      .photos {
        margin-left: -12px;

        img {
          border: 2px solid black;
        }
      }

      ul {
        li {
          a {
            color: $color-primary;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}

.contact-us {
  background-color: white !important;

  &.bg-dark {
    background-color: #202124 !important;

    .container {
      h5 {
        color: white;
      }

      p {
        color: rgba(255, 255, 255, 0.7) !important;
      }

      form {
        [class="input-group-text"] {
          border: 1px solid black;
          background-color: #181818;
        }

        span {
          color: white;
        }

        input,
        textarea {
          border: 1px solid black;
          background-color: #181818;
          color: white;
        }

        label {
          color: white;
        }
      }
    }
  }
}
