/** @format */
/** @format */
* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
}
html body {
  font-family: "Open Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
html body a {
  color: black;
  text-decoration: none;
}
html body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
html body #top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  position: fixed;
  top: -60px;
  right: 25px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #025add;
  opacity: 0.7;
  z-index: 9999;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
html body #top .top {
  font-size: 20px;
  color: white;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
html body #top:hover .top {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}

::-webkit-scrollbar {
  width: 0;
}

canvas {
  display: block;
  aspect-ratio: auto 1314/957;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.header {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-bottom: 50px;
}
.header .title {
  color: #025add;
  font-size: 34px;
}
.header .para {
  color: #b8651d;
}

.popup-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2000;
}

.popUp {
  position: fixed;
  padding: 40px;
  width: 850px;
  z-index: 2001;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media (max-width: 767px) {
  .popUp {
    width: 370px;
  }
}
.popUp img {
  max-width: 100%;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.popUp img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/** @format */
.landing .letters .btn-custom {
  --button-bg: #025add;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
  background: var(--button-bg);
  color: var(--button-fg, inherit);
}
@media (prefers-reduced-motion: no-preference) {
  .landing .letters .btn-custom {
    --_percentage: calc(100% / var(--ripples, 1));
    --ripple-speed: 2s;
    background: linear-gradient(var(--button-bg), var(--button-bg)) padding-box, repeating-conic-gradient(from var(--gradient-angle), transparent, var(--button-bg) calc(var(--_percentage) * 0.5), transparent var(--_percentage)) border-box;
    animation: var(--ripple-speed) ripple linear infinite;
  }
  .landing .letters .btn-custom::before {
    content: "";
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    width: 150%;
    aspect-ratio: 1;
    background: linear-gradient(transparent, hsla(0, 0%, 100%, 0.1), transparent);
    animation: calc(var(--ripple-speed) * 3 / var(--ripples)) shimmer linear infinite;
    pointer-events: none;
  }
  @keyframes ripple {
    to {
      --gradient-angle: 360deg;
    }
  }
  @keyframes shimmer {
    to {
      rotate: 360deg;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
}
@keyframes up-and-down {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -40px;
  }
}
.breadcrumbs {
  height: 330px;
  background: url(../images/hero-bg.png) center center no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;
  color: white;
  padding-top: 120px;
  background-color: #0d2b53;
}
.breadcrumbs .text-center h2 {
  color: #025add;
}
.breadcrumbs::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 0;
  margin-top: 0;
  background-color: white;
}
.breadcrumbs nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #025add;
}
.breadcrumbs nav ol {
  padding: 15px 0 0;
}
.breadcrumbs nav ol li.Home a {
  color: white;
}
.breadcrumbs nav ol li.Home a:hover {
  color: white;
  text-decoration: underline;
}
.breadcrumbs nav ol .active {
  color: #3a3a3a;
}

.about-us,
.blogs,
.protofolio,
.services {
  padding-bottom: 40px !important;
}

.protofolio {
  padding-top: 50px;
}

.privacy {
  padding: 60px 0;
}
.privacy p,
.privacy li,
.privacy h3 {
  color: #3a3a3a;
}
.privacy ul li {
  margin-bottom: 5px;
}
.privacy h3 {
  margin-bottom: 9px;
}

.blog-details {
  padding: 60px 0;
}
.blog-details .title,
.blog-details .details-post-data,
.blog-details p,
.blog-details h3,
.blog-details li {
  color: #3a3a3a;
}
.blog-details img {
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  cursor: pointer;
}
.blog-details img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.blog-details .blog-sidbar {
  padding: 20px 20px 0;
}
.blog-details .blog-sidbar .search-form {
  margin: 40px 0 30px;
}
.blog-details .blog-sidbar .search-form input {
  background-color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 12px 14px 10px 30px;
  border: none;
  outline: none;
  width: 77%;
  caret-color: #025add;
  margin: auto;
}
.blog-details .blog-sidbar .search-form button {
  background-color: #025add;
  color: white;
  padding: 14px 20px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: none;
  outline: none;
}
.blog-details .blog-sidbar .photos {
  margin-left: -12px;
}
.blog-details .blog-sidbar .photos img {
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  cursor: pointer;
}
.blog-details .blog-sidbar .photos img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.blog-details .blog-sidbar ul li {
  margin-bottom: 4px;
}
.blog-details .blog-sidbar ul li a {
  color: #025add;
}
.blog-details .blog-sidbar ul li a:hover {
  color: #3a3a3a;
}
.blog-details button {
  height: 45px;
  padding: 10px 38px;
}

.cooming {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cooming img {
  padding: 50px;
}/*# sourceMappingURL=singlePage.css.map */