// Fonts
$font-default: 'Poppins', sans-serif;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// Colors
$color-bg: #025add;
$hero-overlay-color: transparent;
$menu-color: #ffffff;
$theme-color: #025add;
$border-color: #e2e2e2;
$theme-color-dark: #f8f8f8;
$text-color: #3a3a3a;
$hero-text-color: #ffffff;
$text-white-color: #ffffff;
$text-grey-color: #3a3a3a;
$text-theme-color: #025add;
$light-color: #ffffff;
$color-default: #3a3a3a;
$color-primary: #025add;
$color-secondary: #0c6de0;
$color-start: #3a3a3a;
$color-end: #3a3a3a;
$hero-card-bg: rgba(228, 227, 223, 0.17);
$box-shadow-color: rgba(82, 90, 101, 0.1);
